#gif-col {
	text-align: center
}

.gif {
	padding: 10px;
}

.gif-btn {
	margin: 10px;
}

.gif-btn:hover {
	margin-top: 10px;
	margin-bottom: 8px;
}

#button-row {
	padding: 10px;
}

.rating {
	margin-bottom: 20px;
}