#gif-col {
	text-align: center
}

#gif-col > div {
	height: 270px;
}

.gif {
	padding: 10px;
	max-width: 400px;
}

.gif-btn {
	margin: 10px;
}

.gif-btn:hover {
	margin-top: 10px;
	margin-bottom: 8px;
}

#button-row {
	padding: 10px;
}
